---
import Layout from "../layouts/Layout.astro";
---

<Layout title="maco - 404">
  <div class="not-found-container">
    <h2>⛔ 404 - You seem to be lost friend 🤖</h2>
  </div>
</Layout>

<style>
  .not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    text-align: center;
  }
</style>
