---
import Layout from "../layouts/Layout.astro";

const posts = await Astro.glob("../posts/*.md");
---

<Layout title="maco - blog">
  <div class="post-container">
    {
      posts
        .map((post) => (
          <div class="post">
            <a class="post-hover" href={`/${post.frontmatter.slug}`}>
              <img src={post.frontmatter.thumbnail} />
              <span class="post-title">{post.frontmatter.title}</span>
            </a>
          </div>
        ))
        .reverse()
    }
  </div>
</Layout>

<style>
  .post-container {
    width: 1400px;
    margin: 20px auto;
    columns: 4;
    column-gap: 20px;
  }

  .post-container .post {
    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
    position: relative;
    overflow: hidden;
  }

  .post-container .post img {
    width: 100%;
    transition: all 0.3s ease;
    transform: scale(1.1);
  }

  .post-title {
    position: absolute;
    bottom: 0;
    padding: 5% 0;
    border: none;
    text-align: center;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.75);
    transition: all 0.3s ease;
    color: white !important;
  }

  .post:hover img {
    transform: scale(1.2);
  }

  .post-title:hover {
    padding: 7.5% 0;
    bottom: 0;
  }

  /* medium screens */
  @media (max-width: 1400px) {
    .post-container {
      width: calc(100% - 40px);
      columns: 3;
    }
  }

  @media (max-width: 768px) {
    .post-container {
      columns: 2;
    }
    .post-title {
      font-size: 0.8rem;
    }
  }

  /* smartphones */
  @media (max-width: 480px) {
    .post-container {
      columns: 1;
    }
  }
</style>
