<footer>
  <ul>
    <li>
      <a
        href="https://github.com/martintrifunov"
        target="_blank"
        class="footer-link"><i class="fa-brands fa-github"></i></a
      >
    </li>
    <li>
      <a
        href="mailto:martintrifunov@proton.me"
        target="_blank"
        class="footer-link"><i class="fa-solid fa-envelope"></i></a
      >
    </li>
    <li>
      <a
        href="https://leetcode.com/martintrifunov/"
        target="_blank"
        class="footer-link"><i class="fa-solid fa-code"></i></a
      >
    </li>
  </ul>
  <p id="copyright-footer">&copy; 2022-2023 Martin Trifunov</p>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: 20px;
  }
  .footer-link {
    margin-left: 15px;
    font-size: 1.5rem;
  }
  #copyright-footer {
    margin-top: 15px;
    color: var(--text-hover-color);
    text-align: center;
  }
</style>
